*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.logo{
    padding-left:20px;
    font-size: xx-large;
    font-weight: bold;
    animation: blink 5s infinite;
}  
@keyframes blink{
    0%{
        color: red;
    }
    20%{
        color:green;
    }
    40%{
        color: yellow;
    }
    60%{
        color: blue;
    }
    80%{
        color: orange;
    }
    100%{
        color:red;
    }
}
h1{
    color: snow;
    padding-left:10px;
    margin-top:80px;
    font-size:45px;
}
p{
    font-size:20px;
    color:black;
    padding-left: 10px;
    padding-top: 20px;
}
.tag p{
    color:snow;
    font-size:25px;
    padding-left:10px;
    padding-top:80px;
}
span{
    color: rgb(255, 187, 0);
}
button{
        background-color:rgb(255, 187, 0);
        padding: 2px 25px;
        cursor:pointer;
        transition: .4s ease;
        font-size: 15px;
        height: 35px;
        display:block;
        margin-left: 150px;
        margin-top: 80px;
    }
button:hover{
        background: none;
        color: snow;
        padding: 5px 10px black;
}
.menu-bar{
    padding-right: 150px;
    font-size: 18px;

}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
}
.menu-bar ul li{
    width:150px;
    padding: 15px;
    margin: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:black;
}
.menu-bar ul li :hover{
    color:snow;
}
.down{
    display:none;
}
.menu-bar ul :hover .down{
    display: block;
    position: absolute;
    background:transparent;
    margin-top: 15px;
    margin-left: -15px;
    transition: .4s ease;
}
.menu-bar :hover .down ul{
    display: block;
    margin: 10px;
}
.menu-bar :hover .down ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar :hover .down ul li a:hover{
    color:snow;
}
.sub-menu-2{
    display:none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background:transparent
}